<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.game.eskillsgame"
		version="0.0.1">
	<name>eskillsgame</name>
		<eimears eskills memory game>
		<description>this eskills game was developed by eimear for ITGirls 2014!</description>
		<gap:platforn name="android" />
		<gap:platform name="ios" />
		<icon src="icon.png" />
</widget>
